extends layout.pug

block content
  div.main-content
    section.row.section-approval
      p Donald Trump currently has an approval rating of #[span.rating= `${rating}%`].#[sup #[a(href="") *]]
    section.row.section-poster
      img.poster(src=movie.posterUrl)
    section.row.section-movie
      p That's the same rating that #[a(href="#")= `${movie.title} (${movie.year})`] has on Rotten Tomatoes.
  nav.links-wrap
    ul.nl.nav-links
      li#share-link(data-section-link="share")
        a(href="#") Share
      li#what-link(data-section-link="what")
        a(href="#") What
      li#who-link(data-section-link="who")
        a(href="#") Who
    ul.nl.nav-sections
      li#share-link
        a(href="#") Share
      li#what-link
        a(href="#") What
      li#who-link
        a(href="#") Who

block footer_scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/main.bundle.js')
