extends layout.pug

block content
  div.container
    div.row
      h3 Donald Trump currently has an approval rating of #{rating}%#[sup  #[a *]].
    div.row
      img.poster(src=movie.posterUrl)
      h4 That's the same as #{movie.title} (#{movie.year}).

block scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/main.bundle.js')
