doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title donaldtrumpisaspopularasthismovie
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/main.css')
    //- include partials/favicon.pug
    //- script(src='js/analytics.js')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:type', content='website')
    meta(property='og:image', content='')
    meta(property='og:url', content= '')
  body
    main
      div.container
        div.row
          h3 Donald Trump currently has an approval rating of #{rating}%#[sup  #[a *]].
        div.row
          img.poster(src=movie.posterUrl)
          h4 That's the same as #{movie.title} (#{movie.year}).
    script(src='js/lib/jquery.min.js')
    script(src='js/main.bundle.js')
