extends layout.pug

block header_scripts
  script(src='js/lib/sorttable.js')

block content
  div.container
    div.row
      h2 Movies
    div.row
      ul.nl
        each moviesWithRating, rating in movies
          if moviesWithRating
            li.movie-rating-section
              h4.index= `${rating}%`
              include partials/movieTable.pug

block footer_scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/movieList.bundle.js')
